<div class="relative overflow-x-auto text-lg">
  <table class="w-full text-left rtl:text-right text-gray-500">
    <thead class="text-gray-700 uppercase bg-gray-50 dark:bg-gray-700">
      <tr>
        <th scope="col" class="px-6 py-3">id</th>
        <th scope="col" class="px-6 py-3">experiencia base</th>
        <th scope="col" class="px-6 py-3">nombre</th>
        <th scope="col" class="px-6 py-3">altura</th>
        <th scope="col" class="px-6 py-3">peso</th>
        <th scope="col" class="px-6 py-3">predeterminado</th>
        <th scope="col" class="px-6 py-3">imagen</th>
      </tr>
    </thead>
    <tbody>
      @for (pokemon of pokemonDetails; track $index) {
      <tr class="bg-white border-b">
        <td class="px-6 py-4">{{ pokemon.id }}</td>
        <td class="px-6 py-4">{{ pokemon.base_experience }}</td>
        <td class="px-6 py-4">{{ pokemon.name | titlecase }}</td>
        <td class="px-6 py-4">{{ pokemon.height }} metros</td>
        <td class="px-6 py-4">{{ pokemon.weight }} kilogramos</td>
        <td class="px-6 py-4">{{ pokemon.is_default ? "Sí" : "No" }}</td>
        <td class="px-6 py-4">
          <img
            src="{{ pokemon.sprites.back_default }}"
            alt="{{ pokemon.name }}"
            class="w-20 h-20"
          />
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
